html,
body {
  padding: 0;
  margin: 0 0 7rem 0;

  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* chakra classes adjustments */

.chakra-container {
  margin-top: 7rem;
  max-width: 60rem !important;
}

.chakra-switch {
  margin-top: 3px;
}

.switchLabel {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.show {
  display: block;
}

.topic1_Margin {
  margin:2.5rem;
}

.topic4_Margin {
  margin:2.5rem;
}

@media only screen and (max-width: 550px) {
  .show {
    display: none;
  }
  

.topic1_Margin {
  margin: 0;
}

.topic4_Margin {
  margin: 0;
}
}        
